<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <%- include('./partials/head.ejs') %>

    <body>  

        <%- include('./partials/nav.ejs') %>

        <main role="main" class="specify-screen-height">
            <%- include('./partials/call/choice_container.ejs') %>
            <%- include('./partials/call/establish_connection_container.ejs') %>
            <%- include('./partials/call/call_container.ejs') %>
        </main>  
        
        <%- include('./partials/footer.ejs') %>

        <%- include('./partials/scripts.ejs') %>
        <script src="socket.io/socket.io.js"></script>
        <!-- type="module" ist benötigt, damit das JavaScript-Modul andere Module importieren kann -->
        <script type="module" src="/assets/js/webRtcCon.js"></script>
    </body>
</html>